<h1>Welcome, <%= @user.username %>.</h1>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
	<strong>Your Avatar:</strong><% console %>
	<% if @user.avatar_file_name.nil? %>
	<div class="useravatar">
	<p>You should upload an avatar.</p>
	<% else %>
	<%= image_tag @user.avatar.url(:medium) %>
	</div>
	<% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
